{% extends "account/base.html" %}

{% block content %}
<div class="container wow fadeIn">
    <h2 class="my-5 h2 text-center">Checkout form</h2>
    <div class="row">
      <div class="col-md-8 mb-4">
        <div class="card">
            <form method="POST" action="">
                {% csrf_token %}
             <h6><strong> <label for="">Customer : {{customer.name}}</label></p></h6></strong>
                <label for="formGroupExampleInput">Enter your Enrollment_no</label>

                <div class="form-control" >
                    
                    {{form.Enrollment_no}}
                </div>
                <label for="formGroupExampleInput">choice your course </label>
                <div class="form-control">
                    
                    {{form.course}}
                </div>
                <label for="formGroupExampleInput">choice your Semester </label>
                <div class="form-control">
                    
                    {{form.Semester}}
                </div>
                

                <div class="button_Container">
                    <input class="btn login_btn" type="submit" value=" Checkout">
                </div>
            </form>

            
{% endblock %}