{% extends "account/base.html" %}

{% block content %}
<div class="card" style="width: 18rem;">
    {% for product in products %}
    {% if product.category == 'Todayspl' %}
    
    <img src="{{product.ImageURL}}" class="card-img-top" >
    <div class="card-body">
        <h5 class="card-title">{{product.name}}</h5>
        <p class="card-text">Rs{{product.price}}.</p>
        <a href="{% url 'Productdetail' product.id   %}" class="btn btn-primary">View Product</a>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}